Available Balance = <%=wallet[0].available_amt%>
<hr>
Applicant name = <%=user.fname%>  <%=user.lname%>
Applicant Pan no. = <%=user.pan_no%>
<hr>
Product = <%=JSON.stringify(product)%>
<hr>
Max quantity = <%=quantity%>
<hr>
Minimum amount = <%=max_bid%>
<hr>
<form action="/bidbox/create_bid/<%=product[0].id%>" id="bid_form" method="POST" onsubmit="return check()">
    min_quantity = 
    <input type="number" id="min_quantity" min="0" max="<%=quantity%>" onchange="min_change()" name="min_quantity" required>
    max_quantity = 
    <input type="number" id="max_quantity" min="0" max="<%=quantity%>" name="max_quantity" required>
    rate = 
    <input type="number" id="rate" min="<%=max_bid%>" onchange="rate_change()" name="rate" required>
    amount = 
    <input type="number" name="amount" id="amount" readonly>

    <button type="submit">Submit</button>

</form>
<script>
    function check(){
        let balance = '<%-wallet[0].available_amt%>';
        let min_amt = '<%-max_bid%>';
        let amount = document.getElementById("amount").value;
        let min_quantity = document.getElementById("min_quantity").value;
        let max_quantity = document.getElementById("max_quantity").value;
        let rate = document.getElementById("rate").value;

        if(max_quantity >= min_quantity){
            if(rate>min_amt){
                if(amount == (rate*max_quantity)){
                    if(parseFloat(amount) <= parseFloat(balance)){
                        return true;
                    }
                    alert("amount exceeding balance");
                    return false;
                }
                alert("error try again2");
            
            }
            alert("error try again1");
            
        }
        // alert("error try again");

        document.getElementById("bid_form").reset();
        return false;
    }

    function min_change(){
        console.log("min cganhe")
        document.getElementById("max_quantity").setAttribute("min", document.getElementById("min_quantity").value) ;
        if(document.getElementById("max_quantity").value < document.getElementById("min_quantity").value){
            document.getElementById("max_quantity").setAttribute("value", document.getElementById("min_quantity").value) ;

        }
    }

    function rate_change(){
        let balance = '<%-wallet[0].available_amt%>';
        let min_amt = '<%-max_bid%>';
        let amount = document.getElementById("max_quantity").value * document.getElementById("rate").value;
        if(parseFloat(document.getElementById("rate").value) < parseFloat(min_amt)){
            alert("Minimum rate should be greater than "+min_amt);
        }
        else{
            if(amount > balance){
            alert("amount exceeds current balance"); 
        }
        else{
            document.getElementById("amount").setAttribute("value", amount);

        }
        }
        
    }
</script>